[submodule "modules/userland/files/.zprezto"]
	path = modules/userland/files/.zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "modules/userland/files/.vim/bundle/Vundle.vim"]
	path = modules/userland/files/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "modules/userland/files/packer"]
	path = modules/userland/files/packer
	url = https://github.com/keenerd/packer.git
[submodule "modules/userland/files/modules/userland/files/newsbeuterCS"]
	path = modules/userland/files/modules/userland/files/newsbeuterCS
	url = https://github.com/sl4shme/newsbeuterCS
