[submodule "modules/userland/files/.zprezto"]
	path = modules/userland/files/.zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "modules/userland/files/.vim/bundle/Vundle.vim"]
	path = modules/userland/files/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
