[Unit]
Description=Smuxi launcher

[Service]
ExecStart=/usr/bin/smuxi-engine
User=smuxi
WorkingDirectory=/home/smuxi/

[Install]
WantedBy=multi-user.target
